html,
body {
    width: 100%;
    height: 100%;
}

body {
    /*font-family: 'Bitter', serif;
    //font-famil: 'Raleway', sans-serif;
    //font-family: 'Dosis', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
.p-section { padding: 70px 0 50px 0; }
.heading2 {
    /*font-family: Oswald, sans-serif;*/
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0px;
}
.heading2:after {
    display: block;
    position: absolute;
    content: "";
    border-bottom: 4px solid #182979;
    height: 4px;
    width: 60px;
    left: 50%;
    margin-top: .4em;
    margin-left: -30px;
}
.heading3 {
    /*font-family: Oswald, sans-serif;*/
    font-weight: 300;
    padding-top:25px;
    padding-bottom: 20px;
    margin:0;
}
.text-name {
    line-height: 52px;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 2px 2px 0px rgba(0,0,0,.6);
    padding: 20px 0 0 0;
    color: #fff;
    text-transform: capitalize;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.text-spec {
    font-size: 24px;
    font-weight: 600;
    padding: 0 0 20px 0;
    color: #fff;
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
.map{
    width: 100%;
}
.activity-padding{
    padding-top: 30px;
}
.activity{
    font-weight: 600;
}
/***************** NAWIGACJA *****************/
.navbar { 
    /*text-transform: uppercase; */
    font-size: 16px; 
    font-weight: 600;
}
.navbar a,
.navbar .navbar-nav li a{
    color: #182979;
}
.navbar a:focus,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover { 
    outline: 0; 
}
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover { 
    color: #B91F1F;
}
.navbar-fixed-top .navbar-brand { 
    font-size: 14px;
}
.navbar-fixed-top .navbar-brand img {
    width: 250px;
    margin: -40px 10px 0 0;
    display: inline-block;
}
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
    color: #B91F1F; 
}
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
    color: #B91F1F;
}
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-fixed-top.navbar-shrink { 
        padding: 8px 0; 
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand img{ 
    width: 160px;
    margin: -20px 10px 0 0;
    display: inline-block;
    }
    .navbar .navbar-nav { display: inline-block; float: right; vertical-align: top; }
    .navbar .navbar-collapse { text-align: center; }
    .navbar-default { background-color: rgba(255,255,255,0.5); border-color: transparent;}
    .navbar-default.navbar-shrink { background-color: #f2f2f2; border-color: #182979;}
    
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        background: rgba(0,0,0, .1);
        color: #B91F1F;
    }
    .navbar-default.navbar-shrink .navbar-nav > .active > a,
    .navbar-default.navbar-shrink .navbar-nav > .active > a:hover,
    .navbar-default.navbar-shrink .navbar-nav > .active > a:focus {
        background: rgba(0,0,0, .1);
        color: #B91F1F;
    }
    /**.navbar .collapse {
        border-bottom: 1px solid rgba(255,255,255, .3);
        padding-bottom: 5px;
    }**/
    .navbar.navbar-shrink .collapse {
        border-bottom: none;
        padding-bottom: 0;
    }
   /* .navbar.navbar-shrink .navbar-nav > li > a {
        padding-bottom: 20px;
        padding-top: 20px;
    }*/
    .navbar * {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }   
}
@media(max-width:767px) {
    .navbar {
        background-color: rgb(255,255,255);
        text-align: center;
    }
    .navbar-default .navbar-nav .active a, 
    .navbar-default .navbar-nav .active a:focus, 
    .navbar-default .navbar-nav .active a:hover { 
        background: rgba(0,0,0, .1); 
        color: #182979; 
    }
    .navbar-fixed-top .navbar-brand {
        color: #fff;
    }
    .navbar-fixed-top .navbar-brand img {
        width: 160px;
        margin: -15px 10px 0 0;
}
    .navbar-default .navbar-toggle { 
        background-color: transparent; 
        border: 0;
        margin: 15px 10px;
    }
    .navbar-default .navbar-toggle:focus, 
    .navbar-default .navbar-toggle:hover { 
        background: rgba(0,0,0, .1); 
    }
    .navbar-default .navbar-toggle .icon-bar {
    background-color: #182979;
    }
}
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/stluczka.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.header .header-gradient {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    /*background: -moz-linear-gradient(-45deg,  rgba(0,68,74,0.2) 0%, rgba(10,188,191,0.2) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(0,68,74,0.9) 0%,rgba(10,188,191,0.9) 100%);
    background: linear-gradient(135deg,  rgba(10,139,145,0.7) 0%,rgba(23,220,89,0.7) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e600444a', endColorstr='#e60abcbf',GradientType=1 );*/
}
.header .header-box { 
    text-align: center; 
    color: #fff;
}
.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 10px 13px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 23px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.section-bg{
    background: #ffffff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #ffffff, #e1e1e1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #ffffff, #e1e1e1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #ffffff, #e1e1e1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #ffffff, #e1e1e1); /* Standard syntax */  
    background-size: 100%;
    background-position: 0;
}
.servicesBg{
    background: #0A8B91 url(../img/oferta_reverse.jpg) no-repeat center top;
    background-size: cover;
    color: #fff;
}
.offer-bg{
    background-color: rgba(0,0,0,0.6);
    margin-top: 70px;
    color:#fff;
}   
.certificate-padding{
    padding-top:70px;
}
.services p:first-child{
    padding-top: 70px;
}
.caption{
    text-align: center;
}

.img-diploma{
    margin: 0 auto;
}
.contactBg{
    background: #0A8B91 url(../img/kontakt.jpg) no-repeat center top;
    background-size: cover;
    color: #fff;
}
.darkBg {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    }
#map {
    width: 100%;
    height: 410px;
    color: #000;
    }
.btn_send{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 4px;
    }
.btn_send:focus, .btn_send:hover{
    color: #182979;
    font-weight: 600;
    }
.attach{
    padding-bottom: 10px;
    
    }
@media(max-width:768px){
    	.contact-input{
            width:100%;
            float:left;
            margin-bottom: 10px;
	} 
    }      
.footer {
    background-color: rgba(255,255,255,0.8);
    border-top: 4px solid #fff; 
    padding: 12px 0;
    width: 100%;
}
.footer p {
    margin: 5px;
    color: #000;
}

.slicebox-wrapper{
    position: relative;
    max-width: 100%;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}
@media (max-width:992px){
	.slicebox-wrapper{
		padding:0;
		margin:0;
	}
}
@media (max-width:768px) and (min-width:550px){
	.col-tablet{
		width: 33.333333%;
	}
}
.shadow {
	width: 100%;
	height: 168px;
	margin-top: -110px;
	background: transparent url(../img/shadow.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	display: none;
}
.nav-arrows {
	display: none;
}

.nav-arrows a {
	width: 40px;
	height: 40px;
	background: rgba(1,1,1,0.4) url(../img/nav.png) no-repeat top left;
	position: absolute;
	top: 45%;
	left: 2px;
	text-indent: -9000px;
	cursor: pointer;
	margin-top: -21px;
	opacity: 0.4;
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(255,255,255,0.8);
}
.nav-arrows a:first-child{
	left: auto;
	right: 2px;
	background-position: top right;
}
.nav-arrows a:hover {
	opacity: 1;
}
@media(max-width:480px) {
    .nav-arrows a {
	top: 40%;
    }
}
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.btn-to-top {
    height: 50px;
    width: 60px;
}
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}

.btn-dark:hover {
    color: #B91F1F;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*z-index: 1;  Sit on top */
    /*padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.success{
    color: #449d44;
}
.failed{
    color: #ef2626;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    width: 450px;
    height: 180px;
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    text-align: center;
}
.model-content-h3{
    margin-top:0;
    margin-bottom: 20px;
    font-weight: 800;
    text-align: center;
}
.model-content-p{
    text-align: left;
}
.modal-content .status-message-icon{
    top:-25px;
    font-size: 60px;
    display: inline-block;
    border: 2px solid #fefefe;
    border-radius: 50%;
    background: #fefefe;
}
.close{
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 10px;
} 
@media (max-width:480px){
    .modal-content {
    width: 100%;
}
}
/*
#loader {
    position: fixed;
    border: 16px solid #f3f3f3; /* Light grey */
   /* border-top: 16px solid #3498db; /* Blue */
   /* border-radius: 50%;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
*/

#loader-wrapper{position: fixed; width:100%; height: 100%; left: 0; top: 0; right: 0; bottom: 0; background: #000; -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;z-index: 9999; }

.loader{width: 150px; height: 150px; border: 1px #fff solid; position: absolute; left: 50%; top: 50%; margin: -75px 0 0 -75px; border-radius: 50%;}

.loader .loading{font-size: 10px; position: absolute; width: 100%; text-align: center; line-height: 14px; font-family: 'Century Gothic', sans-serif; font-style: italic; left: 0; top: 50%; margin-top: 20px; color: #fff; font-weight: bold; text-transform: uppercase;}

.loader-circle-1{width: 138px; height: 138px; left: 5px; top: 5px; border: 1px #fff solid; border-radius: 50%; position: absolute; border-right-color: transparent;
-webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
}

.loader-circle-2{width: 126px; height: 126px; left: 5px; top: 5px; border: 1px transparent solid; border-radius: 50%; position: absolute; border-right-color: #e81512;
-webkit-animation: spin 5s linear infinite;
        animation: spin 5s linear infinite;
}

.loader .line{width: 10px; height: 2px; background: #fff; position: absolute;}

.loader .line:nth-child(1){left: 16px; top: 50%; margin-top: -1px;}

.loader .line:nth-child(2){transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); left: 33px; top: 33px;}

.loader .line:nth-child(3){top: 16px; left: 50%; width: 2px; height: 10px;}

.loader .line:nth-child(4){transform: rotate(135deg); -moz-transform: rotate(135deg); -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); right: 33px; top: 33px;}

.loader .line:nth-child(5){right: 16px; top: 50%; margin-top: -1px;}

.loader .line:nth-child(6){transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); right: 33px; bottom: 33px; background: #e81512;}

.loader .subline{position: absolute; width: 3px; height: 2px; background: #fff;}

.loader .subline:nth-child(7){transform: rotate(22.5deg); -moz-transform: rotate(22.5deg); -webkit-transform: rotate(22.5deg); -ms-transform: rotate(22.5deg); left: 21px; top: 50px;}

.loader .subline:nth-child(8){transform: rotate(67.5deg); -moz-transform: rotate(67.5deg); -webkit-transform: rotate(67.5deg); -ms-transform: rotate(67.5deg); left: 50px; top: 21px;}

.loader .subline:nth-child(9){transform: rotate(112.5deg); -moz-transform: rotate(112.5deg); -webkit-transform: rotate(112.5deg); -ms-transform: rotate(112.5deg); right: 50px; top: 21px;}

.loader .subline:nth-child(10){transform: rotate(157.5deg); -moz-transform: rotate(157.5deg); -webkit-transform: rotate(157.5deg); -ms-transform: rotate(157.5deg); right: 21px; top: 50px;}

.loader .subline:nth-child(11){transform: rotate(22.5deg); -moz-transform: rotate(22.5deg); -webkit-transform: rotate(22.5deg); -ms-transform: rotate(22.5deg); right: 20px; bottom: 49px; background: #e81512;}

.loader .needle{width: 14px; height: 14px; border-radius: 50%; border: 1px #fff solid; position: absolute; left: 50%; top: 50%; margin: -8px 0 0 -8px;  z-index: 1;  
-webkit-animation: pegIt 3s infinite ease-in-out;
        animation: pegIt 3s infinite ease-in-out;
}

.loader .needle:before{content: ""; width: 0; height: 0; border-style: solid; border-width: 3.5px 50px 3.5px 0; border-color: transparent #e81512 transparent transparent; position: absolute; right: 50%; top: 50%; margin: -3.5px 0 0 0; border-radius: 0 50% 50% 0;}

@keyframes pegIt {
  0% {transform: rotate(0deg);}
  16% {transform: rotate(75deg);}
  25% {transform: rotate(55deg);}
  30% {transform: rotate(90deg);}
  36% {transform: rotate(170deg);}
  42% {transform: rotate(150deg);}
  50% {transform: rotate(227deg);}
  100% {transform: rotate(0deg);}
}

@-webkit-keyframes pegIt {
  0% {-webkit-transform: rotate(0deg);}
  16% {-webkit-transform: rotate(75deg);}
  25% {-webkit-transform: rotate(55deg);}
  30% {-webkit-transform: rotate(90deg);}
  36% {-webkit-transform: rotate(170deg);}
  42% {-webkit-transform: rotate(150deg);}
  50% {-webkit-transform: rotate(227deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
	}       
.spinner-wrapper {
    display:none;
    position:fixed;
    background-color: rgba(0,0,0,0.4);
    left:0;
    right: 0;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
}
.spinner {
    color: #ffffff;
    font-size: 20px;
    top: 50%;
    left:50%;
    margin-top:-0.5em;
    margin-left:-0.5em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
